header,
body {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#loginestilo {
    margin-top: 5%;
}

#filtroslista {
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
    display: inline-block;
}
