<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>        
        <script src="/js/bootstrap.min.js"></script>
        <title>Cripto</title>
        <div>
            <a href="/" class="btn btn-light" data-toggle="">Pagína inicial</a>                  
            <a href="/listlogins" class="btn btn-light" data-toggle="">Lista de logins</a>            
            <a href="/crip" class="btn btn-light" data-toggle="">Cripto</a>    
            <a href="/login" class="btn btn-light" data-toggle="">Login</a>                    
        </div>

    </head>
    <body>        
        <br>
        <hr>
        <div class="bg-light">
            <form  action="/criptar" method="GET">
                <h1 th:text="${sigilo}"/>
                <p>Mensagem</p>
                <input type="text" name="txt_msg">
                <button type="submit">Criptar</button>
            </form>
        </div>
        <hr>

    </body>
</html>


