<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>        
        <script src="/js/bootstrap.min.js"></script>
        <div >
            <a href="/" class="btn btn-light" data-toggle="">Pagína inicial</a>                  
            <a href="/listlogins" class="btn btn-light" data-toggle="">Lista de logins</a>            
            <a href="/crip" class="btn btn-light" data-toggle="">Cripto</a>            
        </div>
</head>
<body>    
    <div class="container">
        <div class="d-flex align-items-center justify-content-left">
            <form action="/fazerlogin" method="POST">
                <div class="row">
                    <div class="col">
                        <p>Nome do usuario</p>
                        <input type="text" name="nome_login"/>
                    </div>
                    <div class="col">
                        <p>Senha</p>
                        <input type="password" name="senha_login"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit">Fazer login</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <a href="/" class="btn btn-light" data-toggle="">Voltar ao principal</a>
        </div>

    </div>    
</body>
</html>