<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>        
        <script src="/js/bootstrap.min.js"></script>
        <title>Menu</title>
        <div >
            <a href="/" class="btn btn-light" data-toggle="">Pagína inicial</a>                  
            <a href="/listlogins" class="btn btn-light" data-toggle="">Lista de logins</a>            
            <a href="/crip" class="btn btn-light" data-toggle="">Cripto</a>            
            <a href="/login" class="btn btn-light" data-toggle="">Login</a>            
            <a href="/artigos" class="btn btn-light" data-toggle="">Artigos</a>            
        </div>

    </head>
    <body>        
        <br>
        <hr>
        <div class="d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <h2>Principal</h2>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div style="justify-self: center;">

                    </div>
                </div>
            </div>
        </div>
        

    </body>
</html>


